body {
	background-image: url("glitter-dark.jpg");
	text-align: center;
}

a {
	color: white;
}


p {
	font-family: "DejaVu Sans","sans serif";
	line-height: 0.5em;
	color: white;
	font-weight: bold;
}

p.first {
	margin-top: 2em;
	margin-bottom: 0.5em;
	font-size: 2em;
	line-height: 1.1em;
}

p.credits {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	font-size: 1.2em;
}

p.label {
	font-weight: normal;
	font-size: 0.8em;
	text-decoration: underline;
	color: white;
}

.logo {
	margin-top: 0em;
	min-width: 100px
}

.switch {
	min-width: 200px;
	width: 30%;
	max-width: 350px;
}

@media (max-height: 500px) {
   p.first { 
      margin-top: 0.2em;
   }
}
@media (max-height: 560px) {
   p.first { 
      margin-top: 1em;
   }
}